* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #bb9018;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* =============== common ================= */
a {
  text-decoration: none;
}

.main-content {
  width: 1400px;
  max-width: calc(100%);
  margin-left: auto;
  margin-right: auto;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  margin-top: 20px;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

.btn {
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 999px;
  background: #171100;
}

/* =============== header ================= */
.header {
  background: var(--primary-color);
}

.header.fixed {
  z-index: 2;
  position: sticky;
  top: -28px;
  padding: 20px 0px 0px 0px;
}

.header .body-header {
  display: flex;
  align-items: center;
  padding: 3.6rem 0 0.8rem;
}

.chua-logo {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chua-nav {
  width: 35vw;
}

.form {
  display: flex;
  border-radius: 999px;
}

.tim-kiem {
  flex: 0 0 auto;
}

.head .search {
  border-radius: 40px;
  background: #fff;
  position: relative;
  line-height: 44px;
  height: 44px;
  padding-left: 20px;
}

.dang-nhap-dang-ky-gio-hang,
.dang-nhap-dang-ky {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dang-nhap-dang-ky-gio-hang {
  margin-left: auto;
  width: 25vw;
}

.dang-nhap-dang-ky::after {
  content: "";
  width: 2px;
  height: 24px;
  color: #fff;
  display: inline-block;
  position: relative;
  background: #fff;
  margin: 0 20px;
}

.nav {
  height: 50px;
  margin: 0 auto;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-outline-success {
  height: 40px;
  width: 40px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* =============== dưới header ================= */
.dieu-huong {
  height: 60px;
  background-color: #fffaf0;
}

.danh-sach ul {
  display: flex;
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.danh-sach ul li {
  padding: 8px 21px;
}

.danh-sach a {
  color: #000000;
  font-size: 1.8rem;
  position: relative;
}

.danh-sach li.active a,
.danh-sach a:hover {
  color: var(--primary-color);
}

.danh-sach li.active a::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -5px;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background: var(--primary-color);
}

.active {
  color: var(--primary-color);
}

/* =============== left menu ================= */
main {
  width: 1650px;
  max-width: calc(100%);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  background: #f5f5f5;
}

.left-menu {
  width: 20%;
  float: left;
}

.noi-dung {
  width: 80%;
  float: right;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.left-menu .fixed {
  z-index: 1;
  position: sticky;
  top: 114px;
  padding: 20px 0px 0px 0px;
}

.nav-trai {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.level0 {
  color: black;
  font-weight: bold;
  font-size: 1.8rem;
}

.level1 a {
  color: #106694;
  font-size: 1.6rem;
}

/* =============== noi dung ================= */
.noi-dung {
  display: block;
}

.can-tren-duoi {
  padding: 30px 0px;
}

.noi-dung .heading-lv2::before {
  content: "";
  position: absolute;
  display: block;
  width: 10%;
  margin-top: -20px;
  margin-left: 10px;
  height: 3px;
  border-radius: 4px;
  background: #000000;
}

.new-arrivals1,
.new-products1,
.sale1,
.discounted-goods1 {
  display: flex;
  flex-wrap: wrap;
}

.new-arrivals1 > div,
.new-products1 > div,
.sale1 > div,
.discounted-goods1 > div {
  margin: 5px;
  height: 338px;
  width: 190px;
  background: aqua;
  /* flex-shrink: 0; */
  border: 1px solid black;
}

/* test */
.product-card {
  width: 190px;
  height: 338px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 190px; /* chiều cao cho ảnh */
  object-fit: cover;
}

.product-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #333;
  margin: 10px 0 5px;
  padding: 0 10px;
}

.product-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: #080705;
  margin-bottom: 15px;
}
/* test */

/* =============== Footer ================= */
.footer {
  background: #2e2100;
  padding: 96px 135px 0;
}

.footer .row {
  padding-bottom: 38px;
  border-bottom: 1px solid #59554b;
  display: flex;
}

.footer .row .column {
  width: 21.6%;
}

.footer .row .column:first-child {
  width: 35%;
}

.footer .desc {
  margin-top: 18px;
  max-width: 267px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .socials {
  display: flex;
  gap: 18px;
  margin-top: 18px;
}

.footer .title {
  padding-top: 14px;
  padding-right: 48px;
  display: inline-block;
  border-bottom: 1px solid #59554b;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.footer .list {
  margin-top: 28px;
}

.footer .list a {
  display: inline-block;
  margin-bottom: 12px;
  color: #bfbcb2;
  font-size: 1.4rem;
  line-height: 1.86;
}

.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .list strong {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.86;
}

.footer .copyright {
  padding: 28px 0;
  color: #807d74;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.86;
}
